{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>

    <div class="display-table">
        <div class="media-file__icon display-table-cell">
       {{ icon_fa | raw }}
        </div>
        <div class="media-file__link display-table-cell">
            {{ content.field_file }}
            <div class="media-file__details">[.{{ type }}, {{ size }}]</div>
        </div>
    </div>

    <div class="media-file__description">
      {{ content.field_file_description }}
    </div>

</div>
