{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<span{{ attributes }}>
    <span class="file__icon">
        {{ icon_fa | raw }}
    </span>
    <span class="file__link">
        {{ content.field_file }}
        <span class="file__details">[.{{ type }}, {{ size }}]</span>
    </span>
</span>
