{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set classes = ["video"] %}
<article {{ attributes.addClass(classes) }}>
  {% if content %}
    {{ content.field_media_video_embed_field }}
  {% endif %}
    <div class="video__details">
        <div class="video__title">{{ name }}</div>
        <div class="video__description">fdbdfb</div>
    </div>

</article>
