{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set classes = ["soundcloud"] %}
<article {{ attributes.addClass(classes) }}>
    {{ content.field_soundcloud }}
</article>
