// Forms.
form {
  background: $form-background;
  color:$form-text;
  padding: $form-padding;

  // Links in forms.
  a {
    color: $form-link; // @todo an easy way to set hovers?
  }

  &.views-exposed-form {
      background:$exposed-filter-background;
      color:$exposed-filter-text;
      margin:0 0 2*$padding-large-vertical 0;
    // Horizontally aligned fields.
    &--horizontal {
      & > div {
        @include inline-block();
        vertical-align: baseline;
      }
    }
  }

  .form-control {
    @include box-shadow(none);
    &:focus {
      @include box-shadow(none);
    }
  }

  .form-required {
    &:after {
      content: '*';
      margin-left: 0.5em;
      display: inline-block;
    }
  }
}

