.media-file {
  margin-bottom: $padding-small-vertical;

  &__icon {
    padding-right: $padding-small-horizontal;
    vertical-align: top;
    width: 1px;
    img {
        height: auto;
        width: auto;
    }
  }
  &__link {
    vertical-align: top;
  }

  &__details {
    font-size: $font-size-small;
  }

  &__description {
    font-size: $font-size-small;
    padding-top: $padding-small-vertical;
  }

  .file {
    display: block;
    line-height: 1;
  }

}

.video,
.soundcloud {
  margin: 0;
}