// Vertical alginment
.valign-middle {
  vertical-align: middle;
}

.valign-top {
  vertical-align: top;
}

.valign-bottom {
  vertical-align: bottom;
}

// Tables
.display-table {
  display:table;
  width:100%;
}

.display-table-cell {
  display:table-cell;
}


.row {
  // Make the row act like a table, useful for equal heights.
  &--table {
    display:table;
    word-break: break-word;
    [class*="col-"] {
      display:table-cell;
      float:none;
      vertical-align: top;
      height:100%;
    }
  }
}