// Button links
.button,
.btn {
  @include transition(color, 0.2s, ease-out);
  border: none;
  padding: 6px 15px;
  line-height: 1.2;
  @include border-radius($button-border-radius-base);
  font-weight: 700;
  @include inline-block();
  &:hover {
    text-decoration: none;
  }

  // White buttons, commonly used on brand primary backgrounds.
  &--white {
    background: #fff;
    color: $brand-primary;
  }

  // Brand primary button.
  &--brand-primary { // @todo convert to mixin.
    background: $brand-primary;
    color: $brand-primary-link;
    &:hover {
      background: darken($brand-primary, 10%);
      color: $brand-primary-link;
    }
  }

  // Brand secondary button.
  &--brand-secondary {
    background: $brand-secondary;
    color: $brand-secondary-link;
    &:hover {
      background: darken($brand-secondary, 10%);
      color: $brand-secondary-link;
    }
  }

  // Arrow
  &--chevron {
    &-right {
      &:after {
        @extend .glyphicon;
        top: 2px;
        position: relative;
        content:"\e080";
        margin-left: 0.5em;
      }
    }
    &-left {
      &:before {
        @extend .glyphicon;
        top: 2px;
        position: relative;
        content:"\e079";
        margin-right: 0.5em;
      }
    }
  }
}





// Inline text.
.text {
  &--small {
    font-size:$font-size-small;
  }
  &--medium {
    font-size:$font-size-base;
  }
  &--large {
    font-size:$font-size-large;
  }
  &--bold {
    font-weight: $bold;
  }
  &--right {
    text-align:right;
  }
  &--block {
    display:block;
  }
  &--brand-primary {
    color:$brand-primary;
  }
  &--brand-secondary {
    color:$brand-secondary;
  }
}

body.cke_editable  {
  background:#ffffff;
}

// Unordered lists
.content, body.cke_editable  { // @todo this is not the correct parent selector
  ul { // @todo the not should not be needed.
    padding: 0 0 0 0px;
    margin: 20px 0 40px 0; // Requested by LEE

    // Lists in two columns
    &.columns {
      clear: both;
      @include clearfix();
      li {
        p {
          margin: 0;
        }
        // Why?
        ul li {
          width: 100%;
        }
      }
      // Two column lists.
      &.columns--two {
        li {
          @extend .col-md-6;
          &:nth-of-type(odd) {
            clear: both;
          }
        }
      }
      // Three column lists.
      &.columns--three {
        li {
          @extend .col-md-4;
          &:nth-of-type(3n+1) {
            clear: both;
          }
        }
      }
    }


    // Regular unordered lists.
    li {
      list-style: none;
      margin: 0 0 10px 0;
      position: relative;
      padding-left: 21px;
      &:before {
        content: " ";
        @include inline-block();
        width: 6px;
        height: 6px;
        @include border-radius(100%);
        background: $brand-primary;
        position: absolute;
        top: 0.5em;
        left: 0;
      }
    }

    ul {
      li {
        margin: 0 0 10px 15px;
      }
    }
  }

  // Ordered lists
  ol {
    padding: 0 0 0 0px;
    margin: 0 0 10px 0;
    list-style-position: inside;
    li {
      margin: 0 0 10px 0;
    }
  }
}


// Wysiwyg styles for blockquote, colors to be added in your own theme.
.blockquote {
  &--left {
    float: left;
    max-width:50%;
    margin:0 1em 0 0; // @todo should this be grid gutter width variable?
  }
  &--right {
    float: right;
    max-width:50%;
    margin:0  0 0 1em; // @todo should this be grid gutter width variable?
  }
}