// These variables are all minor adjustments to bootstrap to provide a clean theme as a starting point
// or with which to take wireframe screen shots.

// Grid
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// Media queries breakpoints, note: these match and must match the breakpoints.yml file.
$screen-sm: 480px !default;
$screen-sm-min: $screen-sm !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// Define the width of the containers at specific breakpoints
$container-tablet:             (720px + $grid-gutter-width) !default;
$container-sm:                 $container-tablet !default;

$container-desktop:            (940px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;

$container-large-desktop:      (1140px + $grid-gutter-width) !default;
$container-lg:                 $container-large-desktop !default;

// Set the location of the glyphicons.
$icon-font-path: "../../../libraries/bootstrap-sass/assets/fonts/bootstrap/" !default;

// Fonts.
$font-size-base:16px !default;

// Text and links.
$text-color:#333333 !default;
// text
$font-size-base:16px !default;
$font-size-small:15px !default;
$font-size-large:20px !default;
$bold:600;

// Remove border radius as most of the time we dont use them.
$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

// Form elements.
$input-border:#fff !default;
$input-border-radius:0px !default; // 99% of the time we dont have rounded corners on inputs.
$input-border-focus: $brand-primary !default;

// Navbar links (this just removes the greys and makes a nice usuable default).
$navbar-default-link-color:                #fff !default;
$navbar-default-link-hover-color:          #fff !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            $brand-primary !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;


// Tabs
$nav-tabs-border-color:                     $brand-primary !default;

$nav-tabs-link-hover-border-color:          hotpink !default;

$nav-tabs-active-link-hover-bg:              $brand-primary !default;
$nav-tabs-active-link-hover-color:          #fff !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;


// **********************************************************************************
// * Note: The following variables are not bootstrap by default.
// **********************************************************************************

$brand-primary: #ddd !default; // OK, this is one is bootstrap.
$brand-primary-text:#fff !default;
$brand-primary-link: #fff !default;
$brand-primary-button-background:#ffffff !default;
$brand-primary-button-text:#000 !default;
$brand-primary-heading:  #fff !default;

$brand-secondary: #ccc !default;
$brand-secondary-text:#fff !default;
$brand-secondary-link: #fff !default;
$brand-secondary-button-background:#ffffff !default;
$brand-secondary-button-text:#000 !default;
$brand-secondary-heading:  #fff !default;

$brand-tertiary: #ccc !default;
$brand-tertiary-text:#fff !default;
$brand-tertiary-link: #fff !default;
$brand-tertiary-button-background:#ffffff !default;
$brand-tertiary-button-text:#000 !default;
$brand-tertiary-heading:  #fff !default;

// should we go for quaternary by default?

$form-padding: 15px !default;       // FOrm padding @see components/forms.scss.
$form-background: #ededed !default; // Form background color @see components/forms.scss.
$form-text: #ddd !default;          // Form text color @see components/forms.scss.
$form-link: #ededed !default;       // Form link color @see components/forms.scss.

$exposed-filter-background: $brand-primary !default; // Exposed filters background color.
$exposed-filter-text: $brand-primary-text !default; // Exposed filters text color.
$exposed-filter-link: $brand-primary-link !default; // Exposed filters link color.

$button-border-radius-base: 0px !default; // Border radius for buttons.

$tabs-text:$brand-primary;
$tabs-text-hover:red;
$tabs-text-active:red;

$tabs-background: #333 !default;
$tabs-background-hover: $brand-primary;
$tabs-background-active: #fff !default;