
//.admin-local-tasks {
//  ul {
//    padding: 15px 0 0 0;
//    border-bottom: solid 1px #ddd;
//  }
//  li {
//    display: inline-block;
//    margin-bottom: -1px;
//    a {
//      display: block;
//      padding: 10px 10px 5px 10px;
//
//    }
//  }
//}