// Image sizing for the media bundle image view modes.
.embedded-entity {
  display: block;

  img {
    height: auto;
    width: 100%;
  }

  &--25 {
    width: 25%;
  }
  &--33 {
    width: 33%;
  }
  &--50 {
    width: 50%;
  }
  &--75 {
    width: 75%;
  }
  &--100 {
    width: 100%;
  }

  @media(max-width: $screen-xs-max) {
    width: 100%;
  }
}

// Deal with when images are inside a figure tag.
.embedded-entity {
  .media-image {
    float: none;
    margin: 0;
    width: auto;
  }

  // Re apply the right wysiwyg image float.
  &.align-right {
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  // Re apply the left wysiwyg image float.
  &.align-left {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &.align-center {

  }

}

figure {
  &.embedded-entity {
    margin-bottom: $padding-small-vertical;
  }
  figcaption {
    background: $brand-secondary;
    color: $brand-secondary-text;
    padding: 10px 10px;
  }
}