{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 *
 * Custom Navigation
 * - burger: Provides the burger for mobile navigation toggle as a variable.
 * - main_menu: Provides the main navigarion wrapped in bootstrap classes to provide a mobile collapse as a variable.
 * - account_menu: Provides the account menu as a variable.
 * - footer_menu: Provides the footer menu as a variable.
 *
 * Global Text
 * - copyright_text: Provides the copyright text set in the theme settings.
 * - footer_text: Provides the footer text set in the theme settings.
 *
 * Social Media Profile Links
 * - twitter_url: Provides the twitter url set in the theme settings.
 * - facebook_url: Provides the facebook url set in the theme settings.
 * - linkedin_url: Provides the linkedin url set in the theme settings.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="masthead">
    {{ page.masthead }}
</div>

<header class="page-header">
    {{ page.header }}
    {{ page.navigation }}
</header>

<main class="main">
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}
    <a id="main-content" tabindex="-1"></a>

    <div class="container">
        <div class="row">
            {{ page.content }}
        </div>
    </div>

</main>

<footer class="page-footer">
    {{ page.footer }}
</footer>


