#navbar-toggle {
  border-radius: 0;
  position: relative;
  background-color: #ddd;
  @include transition(0.3s);
  .icon-bar {
    background-color: #FFF;
    height: 4px;
    width: 25px;
    @include transform(translateY(10px) rotate(45deg));
    @include transition(0.3s);

    + .icon-bar {
      margin-top: 6px;
      opacity: 0;
      @include transform(translateY(0) rotate(0deg));

      + .icon-bar {
        @include transform(translateY(-10px) rotate(-45deg));
        opacity: 1;
      }
    }
  }

  &.collapsed {
    background-color: #FFF;
    .icon-bar, .icon-bar + .icon-bar {
      border-radius: 0;
      background-color: #ddd;
      @include transform(translateY(0) rotate(0deg));
      opacity: 1;
    }
  }
}