#main-navigation {
  li.expanded {


    @media (min-width:$screen-md-min){
      &:hover {
        .nav {
          display:block;
          position: absolute;
        }
      }
    }

    .nav {
      display:none;
    }
  }
  li.expanded.mobile-active {
    .nav {
      display:block;
    }
  }

  .replicated-first-level {
    display: none;
  }

  @media (max-width: $screen-sm-max) {
    .replicated-first-level {
      display: block;
    }
  }
}

